:root {
  --backcolor: #333940;
  --borcard: 8px #ffffff solid;
  --borhead: 3px #ffffff solid;
  --white: #fff;
  --pcolor: #e867ed;
  --borradius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.paradoxback {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

* {
  color: var(--white);
  margin: 30px;
}

body {
  background-color: var(--backcolor);
}

.header {
  text-align: center;
}

.navui {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 30px;
  width: 100%;
}

.site-title {
  color: var(--pcolor);
  font-size: 32px;
}

.card {
  justify-content: center;
  max-width: 33.3%;
  border: var(--borcard);
  padding: 10px;
  flex-basis: 30%;
  margin: 20px;
  color: var(--pcolor);
}

.card-header {
  border: var(--borhead);
  border-radius: var(--borradius);
  background-color: var(--backcolor);
  position: relative;
  margin-bottom: 20px;
  color: var(--pcolor);
}

.app01 {
    justify-content: center;
    height: 800px;
    max-width: 80%;
    border: var(--borcard);
    padding: 10px;
    flex-basis: 30%;
    margin: 20px;
    color: var(--pcolor);
}

.app01 a {
  background-image: url(../images/horiseon.png);
}

.card pre {
  border-radius: var(--borradius);
  background: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

.top, .bot {
  display: flex;
}

.contact ul {
  position: fixed;
  bottom: 30px;
  right: 0;
  min-width: 150px;
  border: var(--borcard);
  padding: 10px;
  flex-basis: 30%;
}

.contact button {
  position: relative;
  right: 0;
  max-width: 60px;
  max-height: 56px;
  border-radius: 50%;
}

.contact img {
  max-width: 50px;
  max-height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #333940;
  border: #333940;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}
